---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import About from './about.astro'
import Contact from './contact.astro'
import Carreira from './carreira.astro';
import Habilidades from './habilidades.astro';
import Particles from "astro-particles"
import type { ISourceOptions } from "tsparticles-engine";

export const options: ISourceOptions = {
	fullScreen:{
		enable:false,
		zIndex: 1,
	},
	
    particles: {
        number: {
            value: 100,
        },
        links: {
            distance: 125,
            enable: true,
            triangles: {
                enable: true,
                opacity: 0.1,
            },
        },
        move: {
            enable: true,
            speed: 2,
        },
        size: {
            value: 1,
        },
        shape: {
            type: "circle",
        },
    },
};
---

<script>
    import { type Container, type Engine, tsParticles } from "tsparticles-engine";
    import { loadFull } from "tsparticles";


	// @ts-ignore
    window.particlesInit = async function (engine: Engine) {
        await loadFull(engine);
    }
    

	// @ts-ignore
    window.particlesLoaded = function (container: Container) {
        console.log("particlesLoaded callback");
    }
</script>

<Layout title="Azevedo-Erick">
	

		<!-- <Particles   id="tsparticles" options={options} init="particlesInit"  class="particles_wrapper" /> -->
	<div class="index_container">
		<div class="personal_description_container">
			<h3 class="presentation_text">Oi👋 me chamo <span class="name_enphasis">Erick</span></h3>
			<div class="main_content_container">
			
				<h1>
					<span class="main_content_icons">

						Backend
						<ul class="main_icons_list">
							<li>
								<a><i class="fa-brands fa-linkedin"></i></a>
							</li>
							<li>
								<a><i class="fa-brands fa-github"></i></i></a>
							</li>
							<li>
								<a><i class="fa-solid fa-file"></i></a></a>
							</li>
						</ul>	
				</span>
					<span class="main_content_large_spacing">developer</span></h1>
					
		
				<h5 class="personal_description">Tenho 20 anos e 2 de experiência 
					como desenvolvedor fullstack</h5>
		</div>
	</div>
	</div>
</div>
<About />
<Carreira />
<Habilidades/>
<Contact/>

</Layout>

<style>
	.personal_description_container{
		font-family: 'Koulen';
		display: flex;
		padding: 8px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 1;
	}
	.main_content_large_spacing{
		letter-spacing: 16px;
	}
	.presentation_text{
		align-self: flex-start;
		font-size: 28px;
	}
	.name_enphasis{
		color: #7C6AED;
	}
	.personal_description{
		font-family: 'Oxanium', Courier, monospace;
	}
	.main_content_container{
		display: grid;
		flex-direction: column;
		justify-content: center;
		font-family: 'Koulen';
		align-items: center;
	}
	.main_content_container>h1{
		text-decoration: none;
		
		margin: 0;
		display: flex;
		flex-direction: column;
		
	}
	.main_content_container h1>.main_content_icons{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.main_icons_list  li a i {
	
		cursor: pointer;
	}
	.main_content_container ul{
		list-style: none;
		display: flex;
		font-size: 28px;

		flex-direction: row;
	}
	.index_container {
		background-image: radial-gradient(var(--bg-primary), var(--bg-secondary));
		color: white;
		display: flex ;
		min-height: 100vh;
		justify-content: center;
		align-items: center;
	}
	.particles_wrapper{
		width: 100%;
		height: 100%;
		z-index: 0;
	}
	.layout-container{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
	@media only screen and (max-width: 600px){
	
		.main_content_container>h1{
		font-size: 13.5vw;
		
	}
	.main_icons_list  li a i {
		font-size: 32px;
	}
	.main_icons_list  li a i {
		margin: auto 8px;
	}
	}
	@media only screen and (min-width: 600px){
		.main_content_container>h1{
		font-size: 9.5rem;
		
	}
	.main_icons_list  li a i {
		font-size: 46px;
	}
	.main_icons_list  li a i {
		margin: auto 16px;
	}
	}
</style>
